# Entorno virtual
env/
venv/
.venv/

# Variables de entorno
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
dist/
build/
*.egg-info/
*.egg

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Uploads / archivos estáticos generados
app/static/uploads/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
